<div class="container">

    <div class="upload-container">
        <button mat-raised-button color="primary" (click)="fileInput.click()">
            Upload Image
            <mat-icon>cloud_upload</mat-icon>
        </button>
        <input type="file" (change)="onFileChange($event)" #fileInput style="display: none" />
    
        <div class="image-container">
            <img *ngIf="!drawImage" [src]="imageSrc" alt="image" class="image" />
            <img *ngIf="drawImage" [src]="drawImage" alt="image" class="image" />
        </div>
    </div>

    <div class="calculate-container">
        <div class="slider">
            <div class="slider-info">
                <label>Number of points to generate</label>
                <label>{{number_points_generate}}</label>
            </div>
            <mat-slider
                min="0"
                [max]="imageDimensions.width*imageDimensions.height"
                [(ngModel)]="number_points_generate"
            ></mat-slider>
        </div>
        <button mat-raised-button color="primary" [disabled]="imageSrc === null || number_points_generate === 0" (click)="calculateArea()" >Calculate</button>  
        <div class="estimated-result">
            <h2>Estimated Area of the Stain: </h2>
            <p>{{ estimatedArea | number: '1.2-3' }}</p>
        </div>
    </div>
    
</div>